[2014-08-18 14:50] dot-punto-dot opened #1 "Example JSON missing a comma"
Hi - your example JSON to CSV code is missing a comma in the JSON after Year : '2013'

took me a while to figure out why the package wasn't working.  Put in a comma and voila!

Thought I'd share in case you have time to correct it.  Might save some people some time.

Thanks for the package, it's is fantastic.

[2014-08-19 16:31] #1 closed, assigned to nobody

[2014-09-02 22:19] kurttheviking opened #4 "potential bug: empty value in input where 0 expected"
I am not sure if this is expected behavior or a bug, so I am submitting it for further consideration. Any guidance is much appreciated!
### Setup

Running node 0.10.26, json-2-csv 0.1.4:

[code]
### Observed

[code]
### Expected

[code]

Note that the expected output contains a `0` on the line associated with the label `second` as provided in the input data.
### Cause?

This appears to be caused b

[2014-09-03 01:49] #4 closed, assigned to nobody

[2014-09-14 19:00] shatting opened #5 "Error: "Not all documents have the same schema." if there are date fields with nulls"
changing line 15 of json-2-csv.js to

[code]

fixes this problem.

[2014-09-16 12:47] #5 closed, assigned to nobody

[2014-12-01 17:28] pgilad opened #6 "Handle escaping DELIMITER.FIELD"
If someone has "," in key or value, it does not get escaped so the json2csv will turn out wrong

[2014-12-02 03:44] #6 closed, assigned to nobody

[2014-12-31 07:47] simonh1000 opened #9 "What is the CSV format for nested arrays"
I am interested to add functionality to support nested arrays when converting to CSV. I can get the headers with the dot-notation but I'm not sure how to structure the data itself - if I just flatten everything I'm not sure that the data will be re-encodable faithfully. Do you have any specifications for this as I can't find anything on the web easily.

[2015-01-01 20:01] mrodrig commented on #9
To be honest, I'm not sure.  I posted on StackOverflow in case someone that has more experience with CSV knows.  The link is: http://stackoverflow.com/questions/27734154/nested-array-values-how-do-they-convert-to-csv

[2015-01-02 19:20] mrodrig commented on #9
It sounds like there is no specific way that it needs to be handled.  I believe the converter currently flattens nested arrays into one array which isn't ideal if a user needs to be able to convert back to JSON.  If there's another way that you can think of that is better, I'd definitely be willing to take a look.  Thanks!

[2015-01-03 21:11] simonh1000 commented on #9
That's basically where I go stuck before, and decided to switch xml

[2015-01-03 21:11] #9 closed

[2015-01-30 23:51] mrodrig opened #10 "Dates are currently ignored"
In json-2-csv() any value that is a date is currently ignored.  This should be printed out in the CSV

[2015-01-30 23:54] #10 closed

[2015-02-04 11:54] mrodrig opened #11 "version 1.0.7 has a console.log"
there shouldn't be any console.log's in the library.

[2015-02-04 11:58] mrodrig commented on #11
Fixed in version 1.0.8

[2015-02-04 11:58] #11 closed

[2015-04-08 09:06] hepr opened #12 "Error Schema are not the same"
Hi,

I've got an exception with the module with the order of element.

line 36 of json-2-csv.js I had : console.log();
This is my log :
[ '"_id";"address";"name";"Tag"',
  '"_id";"name";"address";"Tag"' ]

The schema is the same but not the order :-(

How can I fix it without update my mongo database ?

Thanks for your help

Herve

[2015-04-09 00:06] mrodrig opened #13 "DELIMITER options were not being properly defaulted"
This will be fixed along with #12 .

[2015-04-09 00:59] mrodrig opened #14 "make module promisifiable"
Currently the module is not promisifiable - users should be able to promisify the json2csv and csv2json functions to allow for promise chaining.

[2015-04-09 01:05] mrodrig commented on #12
Thanks for posting this, Herve.  I agree that the ordering of the document keys should not cause the schema error that you are receiving.  I'm working on fixing this and should have it fixed in the near future (hopefully tomorrow or Friday).  Sorry for the inconvenience this may have caused.

[2015-04-10 12:38] mrodrig commented on #12
Thanks again for reporting this. It should be fixed in NPM version 1.1.0 which I just published.  If you experience any other problems with the module, please let me know.

[2015-04-10 12:39] mrodrig commented on #13
Fixed in NPM version 1.1.0

[2015-04-10 12:39] #13 closed

[2015-04-10 12:41] mrodrig opened #16 "Allow desired document keys to be specified"
Allow users to specify the desired document keys that they would like the module to convert to CSV

[2015-04-10 15:20] hepr commented on #12
Thanks for your fix. All is good and my tests are ok :-)

Herve Prot

President LE&CO
2 rue des Faubourgs
F-63960 Veyre-Monton
Tel : +33 6 76 76 17 65
herve.prot@leandco.fr

2015-04-10 14:38 GMT+02:00 Mike Rodrigues <notifications@github.com>:

[2015-04-12 01:10] mrodrig commented on #14
Fixed in NPM Version 1.1.1.

[2015-04-12 01:10] #14 closed

[2015-04-12 03:42] mrodrig commented on #16
Implemented in both json2csv and csv2json, but I need to add tests before I will merge the branch in publish the new version to NPM.  Hoping to have this done tomorrow.

[2015-04-12 03:57] mrodrig opened #18 "Refactor tests"
Change test file setup so that one file is for json2csv tests, another is for csv2json tests. Each specific test for commas, semicolons, quote wrapping, etc. can be kept in a separate describe block with its own beforeEach(..) to simplify the setup.
Currently I believe some tests may be duplicated across files (ie. json2csv Options not specified in testComma.js and testSemi.js) - remove duplicates

[2015-04-12 14:19] mrodrig commented on #16
Added in NPM version 1.1.2

[2015-04-12 14:19] #16 closed

[2015-04-17 19:43] mrodrig commented on #18
Updated in 1.1.3

[2015-04-17 19:43] #18 closed

[2015-04-22 06:01] hutch120 opened #22 "Comma in data not handled"
Hi, great utility... I hope I'm not missing something obvious, but, it doesn't seem to handle commas in the CSV data during import even when there are double quotes on fields.

E.g. Take this CSV data where the data with a comma has double quotes.
header1,header2,header3
row1 column1,"row1 column2, with comma", row1 column3
row2 column1,row2 column2, row2 column3

This turns into the following JSO

[2015-04-22 23:47] mrodrig commented on #22
Thanks for reporting this.  After going through and cleaning up the code and tests recently I realized that csv2json is not currently supporting the options.DELIMITER.WRAP (quoting of field values).  It was implemented in json2csv back in #3.

I've been looking into this and I know I can definitely add support for CSV strings that always have the values wrapped in the options.DELIMITER.WRAP value,

[2015-04-26 02:48] mrodrig commented on #22
I've been playing around with this quite a bit and think I have a good working solution.  I need to clean it up a bit, but I'm hoping to have it merged in and published in 1.3.0 some time tomorrow.

[2015-04-26 03:16] hutch120 commented on #22
Fantastic! Will test when it is ready.

[2015-04-26 09:58] spxis opened #24 "Need Ability to Repress Header"
Hi there,

Excellent utility that I use with Bluebird Promises. I moved from the "json2csv" because you support promises. That said, that library had the option to not include (or repress) the header row (first line) from the CSV output. I've read through the documentation and code and do not see this option...

For now, I just remove the first line and use the library as-is without making any mod

[2015-04-26 16:13] #24 closed

[2015-04-26 16:20] mrodrig commented on #24
Thanks for reporting this. Just implemented the ability to repress the header via the ```PREPEND_HEADER``` option in 1.2.1.

[2015-04-26 16:58] #22 closed

[2015-04-26 16:59] mrodrig commented on #22
Just published 1.3.0 which should fix this.  If you run into any issues, please let me know.  Thanks!

[2015-04-26 17:29] spxis commented on #24
Wow! You're quick!!! I literally wrote this up before bed and you've already tested and fixed before I woke up lol. I'll get a latest and confirm the fix on my end as well...

[2015-04-27 23:33] hutch120 commented on #22
Champion, I have tested import (csv-2-json) and it is working perfectly!!! :)

Are you able to fix the export also? json-2-csv has the same problem.

[2015-04-27 23:48] mrodrig commented on #22
Thanks! Glad to hear csv-2-json is working as expected!  I'm not familiar with the json-2-csv problem -  Is it not properly wrapping the values in the output?

[2015-04-28 00:11] hutch120 commented on #22
Hi Mike,

Thanks for the quick response. The problem is as follows.

Take this typically JSON object, where there is a comma in the address field:
{
	"Name" : "John Smith",
	"Address" : "13 Mary Street, Smithville",
	"Phone" : "123456789"
}

The output from this using json-2-csv is as follows:

Name,Address,Phone
John Smith,13 Mary Street, Smithville,123456789

There are now 3 headers and four dat

[2015-04-28 13:14] mrodrig commented on #22
Thanks for the example, Simon.  Right now the module defaults to no field wrapping which will definitely run into issues when there is a quote in the data.  If you set the json2csv call's options to have `options.DELIMITER.WRAP` set to `'"'` (a double quote) that will fix the issue that occurs when the data has a comma in it.  The csv2json import should work properly on the output from json2csv if

[2015-04-28 18:22] mrodrig opened #26 "options.EOL should really be options.DELIMITER.EOL"
The EOL value is a delimiter so it should really be in options.DELIMITER.EOL.

A migration that is backwards compatible would be ideal.

[2015-04-28 22:51] hutch120 commented on #22
Ah, of course!! Thanks. Works perfectly... including "escaping" the delimiter :)

I agree, turning on double quotes as the delimiter by default makes sense.

[2015-04-30 19:37] spxis commented on #24
I have confirmed that this fix works very well. Thank you once again.

[2015-06-08 14:25] hepr commented on #12
Hi,

I reproduce this problem :-(
[ '"_id";"address";"name";"Tag"',
'"_id";"name";"address";"Tag"' ]

I can give you a db if you want.

Thanks for your help

Herve

[2015-06-08 14:50] mrodrig commented on #12
Hi Herve,

Thanks for letting me know.  Which version are you using?  Could you send me the version number from node_modules/json-2-csv/package.json?  I just tried out a simple example using version 1.3.0 and it appears to be working as expected.  Here's my test example for reference:

[code]

Thanks,
Mike

[2015-06-08 19:19] hepr commented on #12
Hi Mike,

I'm in 1.3.0 version

With your example it's ok.
I've joined my extract and the error at the last line. cf output.log

Thanks

Herve

2015-06-08 16:50 GMT+02:00 Mike <notifications@github.com>:

[2015-06-08 23:10] mrodrig commented on #12
Hmm. Is there any way that you could provide an example so I can take a look? Seems like it would be an issue with lines 37-40 of json-2-csv.js:

[code]

[2015-06-09 06:12] hepr commented on #12
Sorry this is the link to download an example included in this file :

https://www.dropbox.com/s/p3wf95ux95mnyen/output.log.zip?dl=0

Thanks

Herve

2015-06-09 1:10 GMT+02:00 Mike <notifications@github.com>:

[2015-06-09 12:34] mrodrig commented on #12
Hi Herve,

Thanks for the log file.  It looks like the reason why it's throwing the 'Schema not the same' error is because a few of the documents towards the top have a 'name' attribute, and others do not.  One option to fix this would be to run a loop like this over the data before calling json2csv:
(example using underscore)

[code]

In the future I might look into removing that error and just h

[2015-06-09 12:38] hepr commented on #12
Hi Mike,

thank you for this help.
I'll implement it.

Thanks :-)

Herve

2015-06-09 14:34 GMT+02:00 Mike <notifications@github.com>:

[2015-06-09 12:49] hepr commented on #12
This is my fix in my code :

 var result = docs.map(function (doc) {

                        for (var i = 0, len = fields.length; i < len; i++) {
                            if (typeof newdoc[fields[i]] == 'undefined') {
                                newdoc[fields[i]] = "";
                            }
                        }

                        return newdoc;
                    });

I

[2015-06-09 12:53] mrodrig commented on #12
Great - Glad we were able to solve it!

Thanks,
Mike

[2015-06-09 12:53] #12 closed

[2015-07-14 06:03] bogas04 opened #29 "Sync versions aren't present in the module"
json2csvSync, csv2jsonSync are absent in this module.
I haven't worked with Promises, but if anybody can give me slight idea, I am willing to take this up.

[2015-07-14 11:40] mrodrig commented on #29
Hi @bogas04 .  Sorry for the confusion. I set the module up such that the synchronous functions are accessible at json2csv and csv2json.  The module by default does not include asynchronous versions of the functions, but it is promisifiable.  For example, if you wanted to use the asynchronous versions, you would need to do something like this:

var promise = require ('bluebird'),
      converter =

[2015-07-16 19:16] mrodrig commented on #29
I'm going to close this for now since it seems like this might be resolved.  If you have any other questions, don't hesitate to ask.  Thanks!

[2015-07-16 19:16] #29 closed

[2015-08-13 18:07] thohag commented on #4
Seems like this bug is back (using 1.3.0).

[2015-08-13 18:21] thohag opened #30 "0 is converted to ''"
Same problem as #4 but using 1.3.0.

[2015-08-14 18:22] mrodrig commented on #30
Thanks for reporting this @thohag .  I just fixed it and published the fix to NPM in 1.3.1.

[2015-08-14 18:22] #30 closed

[2015-08-27 17:17] mrodrig opened #39 "Update version"
Update version to 1.5.0

[2015-09-23 20:11] mrodrig opened #40 "Fix out of date dependency issues"

[2015-09-24 00:20] #40 closed

[2015-09-24 00:20] #39 closed

[2015-10-01 18:57] #26 closed

[2015-10-02 22:09] mrodrig opened #44 "Update documentation to include SORT_HEADER option"

[2015-10-03 00:50] #44 closed

[2015-11-09 15:29] mrodrig opened #48 "add option to trim outer spaces (left and right)"

[2015-11-25 18:36] Nic128 opened #49 ""length" as a key is producing parsing errors"
I was creating a json based on the joi language file: https://github.com/hapijs/joi/blob/master/lib/language.js
[code]

Trying to parse it to csv I was missing some headers, turns out having "length" as a key breaks the conversion:
[code]

[2015-11-29 07:52] ycheapopo opened #50 "doesnt escape existing characters"
if input already has the delimeter character, input data is not escaped

[2015-11-30 20:19] SBUtltmedia opened #51 "Module not found: Error: Cannot resolve 'file' or 'directory' ./constants"
Hi. I installed ```json-2-csv``` through npm and I'm getting this error when I try to build my project using webpack:

[code]
Any help would be appreciated. Thanks.

[2015-12-02 15:43] mrodrig commented on #51
I haven't used webpack before, but I'm definitely willing to look into it.  So far, I created a VM which I'm trying to replicate the issue on.  I installed webpack (via npm install webpack -g), but haven't been able to get the same error.  If you could put together a quick example that gives the error you pasted above, I will definitely take a look at it.

Thanks!

[2015-12-02 15:45] mrodrig commented on #50
Thanks for reporting this @ycheapopo.  Are you referring to the json2csv or csv2json functionality?  Also, could you provide a quick example for me to look at so I can figure out exactly what the problem is?

Thanks!

[2015-12-02 15:47] mrodrig commented on #49
Thanks for reporting this @Nic128.  I'm looking into it now.

[2015-12-02 16:10] ycheapopo commented on #50
I’m sorry, I should have asked it as a feature request:

I am using json2csv as transformation to csv, where later I can load these files as csv files to a SQL database.

Everything works fine, however if the input text has a value of the delimiter then the SQL database fails.

Suggestion: have an option to the serialiser that if it encounters the delimiter already input in text, it would escape i

[2015-12-02 16:28] mrodrig commented on #49
This should be fixed in version 2.0.6 on NPM now.  Thanks again for reporting this and sorry for the delay.

[2015-12-02 16:28] #49 closed

[2015-12-02 16:30] mrodrig commented on #51
In fixing another issue, I added the '.json' suffix where the constants file was required in.  This should be up in 2.0.6 on NPM.  Could you check to see if that perhaps fixed the issue?  If not, please let me know.

Thanks!

[2015-12-02 19:23] Nic128 commented on #49
It works. Thanks.

[2015-12-02 22:14] SBUtltmedia commented on #51
Thank you. I added the .json suffix in two other files and it works now. I opened a pull request: https://github.com/mrodrig/json-2-csv/pull/53

[2015-12-03 01:03] mrodrig commented on #51
Awesome, I'm glad to hear that adding .json fixed the issue. I just pushed these changes up in the 2.0.7 release.  Thanks!

[2015-12-03 01:03] #51 closed

[2015-12-03 01:36] mrodrig commented on #50
Thanks for the update and the detailed use case.  I'll definitely take a look at implementing this functionality.  Hopefully I will be able to get to this soon, but I might have to push it out for a week or two since final exams are coming up soon.  Thanks again!

[2015-12-03 15:28] #48 closed

[2015-12-03 15:28] mrodrig commented on #48
Added in 2.0.8

[2015-12-04 15:56] mrodrig opened #54 "csv2json - Handle conversion where some fields have wrap delim and others don't"
csv2json - Handle conversion where some fields have wrap delim and others don't

[2015-12-06 04:27] mrodrig opened #55 "v3 - add wrap delimiter default"
`"`

[2015-12-06 17:39] mrodrig opened #56 "investigate options for better documentation formatting"

[2015-12-07 15:07] mrodrig commented on #54
Started working on this today.

Came to the realization that it was already fixed when I implemented the csv character parser in an earlier revision.  Basically, if there are some fields that are wrapped in a wrap delimiter (ie. `"..."` - double quotes), then just specify the wrap delimiter in the options:

[code]

and the parser will take care of the rest.

Any issues, please let me know.  Thanks

[2015-12-07 15:07] #54 closed

[2015-12-07 15:09] mrodrig commented on #54
Started working on this today and realized it was fixed in a previous version when I implemented the csv character parser.  Basically, if you have some fields or values which are wrapped in a delimiter (ie. `test1," test2 ", test3`), then you will just need to specify the wrap delimiter in the options:

[code]

[2015-12-07 15:16] mrodrig commented on #50
Quick question @ycheapopo: have you tried the wrap delimiter option?  I'm guessing SQL works fine if the CSV has the fields wrapped in quotes, but will fail if it encounters CSV such as this (specifically because of the last line having more values than fields):
[code]

When using the wrap delimiter (example shown below), the CSV is output like this:
[code]

Example:
[code]

Please let me know if

[2015-12-07 15:26] mrodrig opened #57 "update FAQ / more examples"

[2015-12-07 19:18] mrodrig commented on #55
will require updating readme and examples/output

[2015-12-07 20:45] mrodrig commented on #56
Implemented via Wiki, README links to wiki for examples and FAQ

[2015-12-07 20:45] #56 closed

[2015-12-07 20:55] mrodrig commented on #57
Moved to Wiki, updated

[2015-12-07 20:55] #57 closed

[2015-12-08 15:26] mrodrig opened #60 "add automated tests to cover the new (manual) test files"

[2015-12-09 12:58] mrodrig opened #61 "use options.EMPTY_FIELD_VALUE when '', null, undefined"

[2015-12-18 14:38] mrodrig commented on #50
I'm going to close this for now.  If setting the DELIMITER.WRAP value in options the provided options to `"` doesn't work for some reason (example in previous post), please let me know.  Thanks!

[2015-12-18 14:38] #50 closed

[2016-02-23 10:12] adius opened #62 "Capital case?"
Why the hell are the keys in the options object written in capital letters. No need to shout (and shitty to type!)

[2016-02-23 10:20] adius opened #63 "Don't throw Rejection Error"
Why does it not simple use the superset which contains all fields of all objects use as the table schema instead of throwing the useless error `Unhandled rejection Error: Not all documents have the same schema` ? …or at least provide a flag to do so.

[2016-02-23 13:50] mrodrig commented on #63
Thanks for opening this @adius! I must have forgotten to include the "CHECK_SCHEMA_DIFFERENCES" option when I worked on cleaning up the documentation.  If you set `options.CHECK_SCHEMA_DIFFERENCES` to `true`, then it will go through and convert the JSON regardless of whether the documents have the same schema or not.

[2016-02-23 13:52] #63 closed

[2016-02-23 13:55] mrodrig commented on #62
I guess it was a design choice that I made when starting out with the module. The hard part about changing it now is that the change would have to be backwards compatible (still allow the upper case versions). I'll definitely take a look at fixing it. Thanks!

[2016-02-24 08:21] adius commented on #62
Well you can always increment by a major version number and make backwards incompatible changes…
but having lower and upper simultaneously for the beginning sounds like a good idea.

[2016-03-08 16:38] datuary-jmartinez opened #64 "Use of 'toLocaleString' when converting values"
Hello:

This is the best library we have found for converting json to csv files but I think it would be very interesting if values were converted **based on _locale_**. For example, if we have a number as 3.14, instead of using `value.toString()`, we should use `value.toLocaleString()`. This number will become 3.14 for US format but 3,14 for European format.

_Locale_ could be a new option when us

[2016-03-09 14:59] mrodrig commented on #64
I hadn't thought about that, but it definitely makes more sense to use `value.toLocaleString()` than `value.toString()` like you mentioned.  I'll definitely take a look at implementing this.  Thanks!

[2016-03-09 15:26] mrodrig commented on #64
I was working on implementing this, but noticed that it might cause the csv2json function to incorrectly convert data back to JSON. In particular, if json2csv converts a float (ie. `3.14`) to `3,14`, then it won't be as easy to convert back to a float: `parseFloat('3,14'); // returns 3` since it doesn't take a locale.

I suppose this is fine since all values are treated as strings in csv2json thou

[2016-03-09 15:39] mrodrig commented on #64
I believe this should be all set in version `2.0.13`. The option to set is: `option.LOCALE`.  I tried testing it out and despite setting the locale to a variety of the values on [MDN .toLocaleString() documentation page](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toLocaleString), I didn't see any difference but that could just be the environment configu

[2016-03-09 15:56] jmartinez-emagina commented on #64
Hello Mike:

I think that before converting from CSV (string) to JSON (float) you should check `option.LOCALE`. If no option provided or it is similar to US format, nothing has to be done and `parseFloat('3.14')` must work properly. Otherwise, `parseFloat(value.replace(',','.'))` should be execute to replace string for a valid format.

Going further, I think you could always replace commas with po

[2016-03-09 16:04] jmartinez-emagina commented on #64
Hello again:

I have just executed this code in Javascript console in Chrome:
[code]

It works as expected. I don't think it has something to do with your environment because you explicitly indicate what _locale_ you want.

Regards

[2016-03-09 16:31] mrodrig commented on #62
This should be all set in `2.0.17`. I updated the documentation to have the lower case option keys. Sorry that it took so long - I had a lot of school work going on.  Thanks again for letting me know about this!

[2016-03-09 16:31] #62 closed

[2016-03-09 16:37] mrodrig commented on #64
Thanks @jmartinez-emagina!  I will take a look at configuring csv2json to perform those checks.  I see the same behavior in the Chrome console, but when I tried it in Node on my Cloud9 development machine, it completely ignores the locale provided. I believe that is due to Cloud9's environment configuration, but I would imagine that the option (now available in version 2.0.13 with options.locale)

[2016-03-09 18:58] adius commented on #62
Looks good! Thanks! 👍

[2016-03-10 15:52] abisz opened #65 "Options for delimiter-change (json2csv) doesn't work"
Nothing changes when passing an options object to change the delimiter.
Tried the example code and changed field and array delimiter, but the output didn't change.

Am I doing something wrong or is there a bug?

[2016-03-10 16:25] arenoux opened #66 "Last version (converting values with toLocaleString) issue with Numbers"
Hello.
The last update you made to convert values with `.toLocaleString` will break some existing code...

Although it could be interesting to convert values based on local, maybe you should not have release it as a simple patch (2.0.**15**)...

For example, if you try to convert the following JSON into CSV :
[code]
Before 2.0.15, result was:
[code]
Since 2.0.15, we will obtain:
[code]

[2016-03-10 18:30] mrodrig commented on #64
Per #66 this was causing an issue that I didn't see in my dev environment that was causing the number `1000` to be converted to `1,000` which was not of the proper form. I reverted the changes and will look to see if there is a better way to implement this without breaking the functionality.

[2016-03-10 18:32] mrodrig commented on #66
I apologize for the inconvenience this caused.  I didn't see this on my Cloud9 development machine and therefore didn't realize that change would end up breaking the intended functionality.  The change from #64 is reverted in `2.0.18` and I unpublished all versions containing the `.toLocaleString()` on NPM.  Thank you for reporting this and sorry for the inconvenience.

[2016-03-10 18:32] #66 closed

[2016-03-10 18:41] mrodrig commented on #65
Thanks for letting me know @abisz. I've tried a few examples and it seems to be working. Could you provide me with an example of it not working so I can look into it? Thanks!

Here's what I have been trying that seems to be working:
[code]

Output:
[code]

[2016-03-13 15:54] mrodrig commented on #65
If you're still experiencing an issue with this, please let me know. Thanks!

[2016-03-14 08:45] abisz commented on #65
That's odd, I ran your code but I still get the wrong formatted output:
`Make,Model,Year,Specifications.Mileage,Specifications.Trim
Nissan, Murano ,2013,7106,[S;AWD]
BMW,X5,2014,3287,[XDrive;M]`
I use it inside a sails.js application (node version 4.4.0), but that shouldn't have anything to do with it, right?

[2016-03-14 12:24] mrodrig commented on #65
Hmm, that's strange. I don't believe it should be a problem that it's being used inside sails.js.  Do you happen to know which version you have installed? I recently changed the API to allow camel case versions of the original (all upper case) options keys, so I'm wondering if you are on an older version that didn't support them at the time.

[2016-03-15 11:18] abisz commented on #65
I found the problem. I still had an old version (2.0.12) before you implemented the lowercase option... Sorry, my bad. It works fine now!

[2016-03-15 11:44] mrodrig commented on #65
Oh awesome. No problem at all. Glad to hear that it is working.

[2016-03-15 11:44] #65 closed

[2016-05-06 00:06] Thomathan opened #68 "Delimiter wrap bug in converter"
Line 47

`            copyOption(opts, 'delimiterwrap', 'DELIMITER.WRAP');`

should be

`            copyOption(opts, 'delimiter.wrap', 'DELIMITER.WRAP');`

[2016-05-06 01:26] mrodrig commented on #68
Thanks for catching this!  Should be all fixed in 2.0.22.

[2016-05-06 01:26] #68 closed

[2016-05-24 04:33] aks29 opened #69 "can json2csv manage multidimensional json array...I get blank output(,,,,,,,,,,,) when trying to use to convert array to csv"

[2016-05-24 13:03] mrodrig commented on #69
Thanks for opening this issue @aks29.  Could you provide an example of when this is occurring? Also, what version are you using?  I tried to replicate the issue but it seemed to be working as expected.  Thanks in advance!

[2016-07-12 13:56] #69 closed

[2016-09-10 11:23] velmurugaiyan opened #71 "CSV adds unnecessary header column when there is a schema difference"
When we convert JSON to CSV and if there is a schema difference in the json, then the module adds unnecessary header and the row containing full values is copied twice.

For Eg, I have used the below json and tried to convert it to csv

[
    {
        Make: 'Nissan',
        Model: 'Murano',
        Year: '2013',
        Specifications:null
    },
    {
        Make: 'BMW',
        Model: 'X5',

[2016-09-21 15:33] mrodrig commented on #71
Sorry for the delayed response. This is happening because of how the module enumerates all possible header fields. When it finds that `Specifications` has a null value for one, it adds it to the list of header fields.  When the data conversion portion goes and actually grabs the value, it's finding `Specifications` to be an object for the second document, so it performs a `JSON.stringify(...)`.  I

[2016-09-21 15:34] mrodrig commented on #55
#71, another reason to do this sooner than later.

[2016-09-24 00:52] asteriusj opened #72 "improper import when data contains comma"
I am converting this CSV:

[code]

I am using these options:

[code]

the resulting JSON is:

[code]

as you can see even though the fields value is wrapped in "" the conversion splits the first field into two parts ignoring the ""

[2016-10-01 01:29] mrodrig commented on #72
Hi @asteriusj,
Thank you for reporting this.  Do you happen to know which version you are encountering the issue with?  I ran the example that you provided with 2.0.23 and it appears to be working as expected:

[code]

[2016-10-01 01:29] mrodrig commented on #71
If you are still encountering this issue, please comment. I'm going to close it out for now though. Thanks!

[2016-10-01 01:29] #71 closed

[2016-10-07 13:26] samzilverberg opened #73 "quote escaping and comma in value problems"
[code]

2 problems with the above:
1. the ' was escaped correctly, but " was not.
2. minor problem: because theres a field delimiter in the value ",", the whole value should have been wrapped with quotes
_just to clarify, i expected:` 'header\n"what\'s up, \"doc\""\n'`_

i consider (2) minor because the lib allows us to force a wrapper:
[code]
but still the first (1) escaping problem can be an ann

[2016-10-09 02:19] mrodrig commented on #72
Hopefully that fixed the problem. If not, please let me know/re-open the issue. Thanks!

[2016-10-09 02:19] #72 closed

[2016-10-09 04:43] mrodrig commented on #73
Thanks for reporting this and for the kind words!  That was definitely a bug and I apologize for any inconveniences it may have caused. I fixed the issue and pushed the fixed code out in NPM version 2.1.0.

Please let me know if you see any other issues.

Thanks!

[2016-10-09 04:47] #73 closed

[2016-10-10 07:45] samzilverberg commented on #73
👍 thanks! 👍

[2017-02-23 22:57] CreatCodeBuild commented on #73
there is still a bug for string with `,`.

[2017-02-27 00:31] mrodrig commented on #73
@CreatCodeBuild Thanks for reporting it.  I believe adding `{ delimiter: { wrap: '"' } }` to the specified options should fix the issue you're having.  Unfortunately I haven't had time to perform enough testing, but eventually `v3.0.0` will switch over to using this by default to avoid these types of problems.  Thanks again for reporting it and for your understanding.

[2017-04-26 21:34] Thomathan opened #75 "Documentation is wrong"
Docs say:
  json2csv uses `trimHeaderFields`
  csv2json uses `trimHeaderValues`
Actual code uses `trimHeaderFields`

Also, the docs say there should be a `trimFieldValues` option but there's no reference to it in the code

[2017-04-27 01:52] mrodrig commented on #75
Thanks for reporting that.  Since I haven't worked on this code in a little bit, I looked into it and you're right - the documentation lists trimHeaderValues for csv2json when it should be trimHeaderFields

Looking through the code, I also realized that the trimFieldValues option value was not being copied over so the option was not working properly for json2csv or csv2json.  I'll have the updated

[2017-04-27 01:54] #75 closed

[2017-10-10 12:49] robin-chilliapple opened #78 "How to generate a .csv file that uses UTF-8 character encoding"
The issue is when I generating a csv file and open it in Microsift Excel, It's showing blank bracket instead of emojis. For Exampale :

Actual String:
1) 😸 To: You, From: Us ... Happy Thursday ...
2) 💃 You'll be dancing in the street with these hot items!

But in upper string it's not showing smilies. It's showing Square brackets. For reference see attached image.

![screenshot from 2017-10-10 18-

[2017-10-10 14:15] mrodrig commented on #78
Hi @robin-chilliapple.  Thanks for letting me know about that.  I created an example which would output those two strings with the emojis, and it appears as though the module is handling them correctly.

<img width="773" alt="screen shot 2017-10-10 at 9 21 52 am" src="https://user-images.githubusercontent.com/2199972/31390164-2157edca-ada1-11e7-9cc3-e0ba2cca6879.png">

I think the issue that you'r

[2017-10-10 14:17] mrodrig commented on #78
I just tried the instructions in Excel 2016 as well and found they still worked.  Basically you'll want to open Excel 2016, click on the `Data` tab, then click `From Text/CSV`.  From there, select the file that you want to open, and then change the `File Origin` drop-down to `65001: Unicode (UTF-8)`.  Once that has been changed, Excel will open the file with the emojis in it.  Hope this helps!

[2017-10-12 03:51] #78 closed

[2017-12-07 22:14] jimthedev opened #80 "allow keys to be json paths"
Hi there, great lib. Was wondering if you'd ever consider allowing options.keys to be a json path string like with lodash.get? This would allow you to have keys that are deep, even nested in arrays.

An example would be having an array of objects. At the moment there is no way to specify that you're interested in the first object's mileage.

[2017-12-10 04:47] mrodrig commented on #80
Hi @jimthedev, thanks!

I can definitely see the usefulness of supporting keys nested in arrays, which it appears the current `keys` option doesn't support based on my testing.  Unfortunately I won't have time to look into this  for a little bit (because of grad school exams coming up), but it would be a nice addition.

Just for future reference, here's what I tried with the current code:

[code]

[2017-12-11 15:10] jimthedev commented on #80
Cool. That looks similar to what I have been testing (which currently doesn't work). If I get to it I'll do a PR. Thanks for confirming.

[2017-12-21 10:27] robin-chilliapple opened #81 "How to add two empty rows at first in CSV"

[2017-12-21 11:56] mrodrig commented on #81
Hi @robin-chilliapple. Good question. Are you looking to add two lines before the header to the CSV or between the header and the first data row?

[2017-12-24 19:16] mrodrig commented on #81
Closing, but please feel free to reopen this if you still need help with this. Thanks!

[2017-12-24 19:16] #81 closed

[2018-02-21 14:59] pasqLisena opened #82 "Promisify it"
It would be nice to make the library return a Promise.

This is not in contrast with the possibility of having a _traditional_ callback.

[2018-02-25 01:10] mrodrig commented on #82
Hi @pasqLisena. Sorry for the delay in getting back to you. I've released version `2.2.0` which will include the `json2csvPromisified` and `csv2jsonPromisified` functions which provide the promisified versions of the functions in the module.  Thanks for reporting this!

[2018-02-25 01:10] #82 closed

[2018-02-25 17:41] mrodrig opened #84 "Overhaul test setup."
* Convert to promise chains instead of using `async`
* Add additional tests.

[2018-04-20 10:52] zahlengraph opened #85 "unforeseen behaviour when parsing several times"
Hello,

I'm observing a strange behaviour when parsing repeatedly:
I have the  class method "amsbam" that is triggered, when a new file appears in a directory:
[code]
readFile is the following promise:
[code]
When amsbams is called repeatedly, readFile sometimes simply returns "[]" as you can see from my console:
[code]
This unforeseen behaviour appears from time to time without any pattern. Do yo

[2018-04-20 11:25] zahlengraph commented on #85
I have just found that the reason must be the way I trigger my events!

[2018-04-20 11:25] #85 closed

[2018-04-20 19:42] mrodrig commented on #85
Awesome, happy to hear you were able to find the reason.  Please feel free to let me know if you run into any other issues with the module.  Thanks!

[2018-09-03 06:51] eric-thelin opened #88 "Escape nested quote with an additional quote"
According to [RFC 4180](https://tools.ietf.org/html/rfc4180) the proper way to escape double-quotes in CSV data is to prepend an additional double-quote character:

Currently we escape double-quotes using a backslash. Opening a file witch such content in Microsoft Excel and/or Apple Numbers breaks the column layout, i.e. the value containing the double quote is interpretted as multiple columns ins

[2018-09-03 06:52] eric-thelin commented on #88
There is a fix available for this issue in pull request #87.

[2018-09-03 17:44] mrodrig commented on #88
Thanks! Just published this in 2.3.0.

[2018-09-03 17:44] #88 closed

[2018-09-03 20:51] eric-thelin commented on #88
Super! Thanks!

[2018-10-26 00:32] mrodrig commented on #64
Going to close this out until I have a chance to convert the module to force values to be wrapped in quotes.

[2018-10-26 00:32] #64 closed

[2018-11-10 01:50] mrpassiontea commented on #84
May I ask why you'd want to convert to promise chains instead of async?

[2018-11-10 04:15] mrpassiontea commented on #84
@mrodrig Just my thinking, maybe you wrote this in order to have more control over your promise.resolves and rejects? Nonetheless, I personally prefer the way async works.

I like the project as it's something I actually need right now.

[2018-11-10 19:14] mrodrig commented on #84
@mrpassiontea Thanks! Glad to hear that it's helpful!

I was thinking about it a little more last night and I think the reason may have been to remove it as a devDependency since it's only being used in one spot and the module is already pulling bluebird in for promises. It's one less module to keep up-to-date periodically, but to be honest I probably won't end up removing it.

[2018-11-15 07:55] NilapuAnusha opened #92 "Nested json object data is not supported"
Hi,

I have same data like below
[code]
Downloaded CSV file show all three records in one row?

Is there anyway to show data in csv as three rows instead of single row?

[2018-11-16 03:13] mrodrig commented on #92
Hi @NilapuAnusha. Thanks for reporting this. I took a look and this is the output that I'm seeing with the data that you provided:
[code]

Here's the code that I'm using to generate that:
[code]

Are you seeing different CSV output? If so, could you please provide me with some code to replicate the issue you're seeing?

Thanks!

[2018-11-19 07:48] NilapuAnusha commented on #92
Thanks @mrodrig
Description key is object type with varying keys and keys may contain object type values

     {name: 'ABC', title: 'title 1', description: {type: 'abc', count: 3, message: 'message 1'}},
     {name: 'PQR', title: 'title 1', description: {type: 'pqr', count: 3, message: {type: def, count: 5}},
     {name: 'UVW', title: 'title 1', description: {type: 'uvw', count: 3, title: "Test"}}

[2018-11-19 15:48] mrodrig commented on #92
@NilapuAnusha Good test case! In that particular scenario, the module will, by default, throw an error because the schemas are different for the different objects: `Unhandled rejection Error: Not all documents have the same schema.`

However, there is a way around that error. If you specify `checkSchemaDifferences: false` in the options object, then the module will convert everything that's availa

[2018-11-20 06:15] NilapuAnusha commented on #92
Thanks @mrodrig
But I can see more data columns compared header column and data is messed up(ex: same cell contains two inputs :( )
Could you please check for below example?
[code]

[2018-11-20 14:40] mrodrig commented on #92
@NilapuAnusha good point about the last example you provided having more data columns than the header. That is unfortunately what the module will currently provide by default since I haven't gotten around to defaulting to use quotes to wrap values. Here's some updated output and example code for that last example:
[code]

[code]

Using the quote wrap option, it'll output:
[code]

[2018-11-22 05:41] NilapuAnusha commented on #92
Thanks @mrodrig
When I download same data in file, I got below one
![screenshot from 2018-11-22 11-10-40](https://user-images.githubusercontent.com/8502891/48883757-4e630100-ee47-11e8-894d-314fc0e9c175.png)

Column data breaks from message.query

[2018-11-23 03:08] mrodrig commented on #61
Need to add to convertData function:
`        if (_.isUndefined(fieldData) || fieldData == '' || fieldData == null) { fieldData = options.EMPTY_FIELD_VALUE; }`

Adding to v3.0.0

[2018-12-08 03:18] mrodrig commented on #92
Sorry for the delayed response. I'm working on updating the module to v3.0.0 and am working on fixing this in that release.

[2018-12-13 03:30] mrodrig commented on #92
Hi @NilapuAnusha. Since I'm in the process of working on v3.0.0 of the module and just finished up getting the majority of the functionality working with RFC 4180 support, I wanted to send you the CSV output of the last data set for you to check. If you wouldn't mind looking at the generated CSV and verifying that it matches your expected output, I would greatly appreciate it.

Here's the output f

[2018-12-13 03:56] mrodrig commented on #61
This is no longer a problem in 3.0.0 which will hopefully be out in a month or so. Closing this for now since the code is completely revamped and won't have this problem.

[2018-12-13 03:56] #61 closed

[2018-12-13 03:58] mrodrig commented on #60
With v3.0.0, the tests will need to be reworked anyway. Closing for now since this will be addressed during the reworking...

[2018-12-13 03:58] #60 closed

[2018-12-13 04:00] mrodrig commented on #55
v3.0.0 will actually take a different approach. Since Excel and many other spreadsheet viewers/editors seem to be RFC 4180 compliant, this module will be taking on that approach to CSV generation. As a result, there will be a few breaking changes, but the underlying issue that this issue was logged for will be fixed in 3.0.0. I'm hopeful that I'll be able to get that released in the next month or

[2018-12-13 04:00] #55 closed

[2018-12-13 04:02] mrodrig commented on #84
Closing this since new tests will be added during the 3.0.0 module update and this may be addressed then, however, the current test setup has been pretty reliable, so I don't really see any reason to change it.

[2018-12-13 04:02] #84 closed

[2018-12-24 16:43] mrodrig opened #95 "csv2json: EOL characters in fields are unsupported"
Issue - csv2json does not support EOL characters in field values (even inside field wrap delimiters). Instead of interpreting the EOL character as part of the field value, the module splits by EOL, including any that appear inside quotation marks.

Versions affected: All, up to and including 2.4.0.

This will be addressed after the initial 3.0.0 release and will likely be addressed in v.???.

This

[2018-12-26 02:08] mrodrig commented on #92
Version 3.0.0 is available in beta form on NPM as `3.0.0-beta.0` and should be merged at some point soon in #96.

[2018-12-28 05:51] mrodrig commented on #73
`v3.0.0` is out, which will automatically take care of wrapping values that need to be wrapped. It also has improved support for CSV viewers, like Excel. Hopefully you find the update helpful!

[2018-12-28 05:53] mrodrig commented on #82
`v3.0.0` is out, and while the `json2csvPromisified` named function will still work, I've deprecated it in favor of changing the name to `json2csvAsync`. Hopefully this won't be too much of an inconvenience for people to change when upgrading to `v3.0.0`

[2019-01-08 12:31] joostdebruijn opened #97 "Use case emptyFieldValue"
## Background Information
- Module Version: `3.0.0`
- Node/Browser Version: ` 11.6.0`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2019-01-09 02:19] mrodrig commented on #97
Hi @joostdebruijn - I pushed out version `3.1.0` which will have the `emptyFieldValue` option added in. Please let me know if you run into any issues with it or if there are any other issues that you run into with the module.

Thanks!

[2019-01-09 02:19] #97 closed

[2019-01-09 12:53] joostdebruijn commented on #97
Thanks for the very quick resolution! It works fine now, however at src/utils.js:138 there is a console.log that logs all values to the console. I think that should be removed.

[2019-01-09 13:10] mrodrig commented on #97
@joostdebruijn Sorry for the console log sneaking through. I merged your fix and added `no-console` to the linter so it won't happen again. Both are released in `3.1.1` on NPM. Thanks!

[2019-01-18 03:18] Jeff-Tian opened #101 "Add typescript index.d.ts file (sparked from Question: How to use it in typescript?)"

[2019-01-18 03:34] mrodrig commented on #101
Hi @Jeff-Tian. Great question! I'm personally not too familiar with TypeScript, but based on what I found in the TS documentation, it looks like the code should be pretty similar to the "plain" JavaScript examples that I have on the Wiki.  I tried it out and only had to make one change with regards to how the module was imported. In particular, this code is compiling and running successfully with

[2019-01-18 06:31] Jeff-Tian commented on #101
Thank you @mrodrig, works like a charm! Another question: How to use async/await style? I can do it with

[code]

Is there any other better suggestion?

[2019-01-18 15:44] mrodrig commented on #101
Perfect, glad to hear that worked @Jeff-Tian!

Depending on how you might be using it, I was able to get the async/await style working using the json2csvAsync function which returns a Promise:

[code]

[2019-01-21 06:49] Jeff-Tian commented on #101
Thank you @mrodrig.

[2019-01-21 06:54] Jeff-Tian opened #102 "Question: How to make the json be converted to csv completely?"
I tried to use this package in my project but met an issue:

Here is my json:
[code]

The converted csv is
[code]

So I refer this issue as not-completely converted.

I found another npm package: [jsonexport](https://github.com/kauegimenes/jsonexport) can convert the above json to as follows:
[code]

This behavior is excellent! I wonder if our json-2-csv package can do it with some magic tweaks?

[2019-01-21 18:04] mrodrig commented on #102
Hi @Jeff-Tian. That's a good point. I had actually changed the module around for v3 so that it was using `JSON.stringify(...)` for arrays to replace the previous behavior that would convert arrays to something like this: `"[a;b]"`. I felt like JSON.stringify was better than the previous behavior, but I still wasn't the biggest fan of leaving some values in JSON format, especially after seeing the

[2019-01-22 03:20] mrodrig commented on #102
There are still a few cases that I need to handle in the key extraction module, so unfortunately I won't have an update for `json-2-csv` out tonight. Hopefully it'll be out tomorrow night. Sorry for the delay!

[2019-01-24 02:11] Jeff-Tian commented on #102
@mrodrig thank you very much, take your time.

[2019-01-24 04:18] mrodrig commented on #102
Thanks for your understanding @Jeff-Tian. I was able to get the key extraction portion fixed up tonight and that's published. There's a slight enhancement that I'd like to add in though so that I can add an option to this module that would allow users to specify the desired behavior (whether they want a JSON.stringify value - which is more reliable when converting back to JSON from CSV - or whethe

[2019-01-25 04:08] mrodrig commented on #102
Just wanted to give a quick update. It's almost there. I have `json-2-csv` (locally) generating the desired output from the given input example. Once I get the option added into `deeks` to allow for the specification of whether array objects should be included in the generated keys, then I'll finalize the `json-2-csv` behavior and will get the changes out in a PR.

[2019-01-28 02:43] mrodrig commented on #102
Just released this in NPM version `3.2.0`.

If you specify `{expandArrayObjects: true}` in the options you pass to `json2csv(...)`, then you'll get the behavior that you're looking for. Thanks for opening the issue up and for your patience while I worked through the various issues that I ran into in order to get this behavior working!

[2019-01-28 02:43] #102 closed

[2019-01-28 03:19] mrodrig commented on #80
As of 3.2.0, this is now supported! So for the following JSON documents, you can specify `{keys: ['features.name']` and it will pull the correct values:

[code]

However, if you want to take full advantage of the latest changes and have the most user-friendly CSV, then I'd also recommend specifying `expandArrayObjects: true` in your options object. That will tell the module that it should also par

[2019-01-28 03:19] #80 closed

[2019-02-01 20:51] Ricki-BumbleDev commented on #101
Actually this is the hacky way of importing an untyped package into a TypeScript file. The preferable solution to this issue would be to add an [`index.d.ts` file](http://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html) with the type definitions for this package.

Then one could import the package like so:
[code]

[2019-02-01 21:06] mrodrig commented on #101
Hi @Ricki-BumbleDev! Thanks for commenting on this with a better solution. Since I haven't used TypeScript before I was going off what I found on StackOverflow, so I definitely appreciate you commenting a better approach! I'll update the wiki page with that info too.

Thanks again! Have a great weekend!

[2019-02-04 15:51] Ricki-BumbleDev commented on #101
Hi @mrodrig! Thanks for your quick response! I think we've got a bit of a misunterstanding here. If everyone using the package with TypeScript writes his or her own type definition file, it works, however, what I actually meant is adding an `index.d.ts` file to this repository (alternatively to DefinitelyTyped, then the types would be available on npm as `@types/json-2-csv`). Maybe someone finds s

[2019-02-05 00:14] mrodrig commented on #101
Hi @Ricki-BumbleDev! Oh, my bad. I definitely misunderstood. Sorry for my confusion! I found a few references that seem like they might be helpful for someone like myself with no TypeScript experience to go through and setup the `index.d.ts` file like you mentioned, so I might give it a try when I have a chance (unless someone beats me to it and opens a PR 😄).

Here are the links that I found, for

[2019-02-06 09:22] ram-reddy opened #104 "Headers from multiple objects"
## Background Information
- Module Version: `4.2.1 `
- Node/Browser Version: ` `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the i

[2019-02-06 12:24] mrodrig opened #105 "add empty field value option for CLI"
## Background Information
- Module Version: `3.2.0`
- Node/Browser Version: `*`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the is

[2019-02-06 12:39] mrodrig commented on #104
Hi @ram-reddy. Thanks for letting me know about that. Unfortunately, I think you might be looking for the other json to csv converter (`json2csv`) though since this module isn't yet on v4.2.1 (currently 3.2.0). Here's a link to that repo: https://github.com/zemirco/json2csv

For reference, I tested that example with this module and it provides the following output:
[code]

That makes me realize th

[2019-02-06 12:39] #104 closed

[2019-02-10 18:32] mrodrig commented on #105
Fixed in 3.3.0

[2019-02-10 18:32] #105 closed

[2019-02-14 02:31] mrodrig commented on #101
Big thanks to @GabrielCastro for the PR to add TypeScript typings! It should now be included in `3.4.0`!

[2019-02-14 02:31] #101 closed

[2019-03-19 10:36] Mike-Van opened #108 "Read .csv file, and convert it to csv string for the csv2json"
Hello, currently i have a .csv file, and i want to import and read it as string before passing it as argument to csv2json function. Can anyone suggest a quick and easy way to do this? I've been reading some stackoverflow questions online, but it seems too complicated.

[2019-03-19 11:17] mrodrig commented on #108
Hi @Mike-Van.  Okay, that makes sense. It looks like you should be able to use the built in `fs` module to read the CSV file that you have so that you can get the file contents as a string before passing it to the csv2json function.  Here's a quick example of how to get it working with the `readFile` function in the `fs` module:

_open.js_
[code]

_test.csv_
[code]

_console output when run via `n

[2019-03-19 11:17] #108 closed

[2019-03-20 06:08] Mike-Van commented on #108
yes. This does help me out. Thanks. Now i got the data out of the CSV file. But its not structured correctly.

Here's the sameple CSV file:

[code]
and here'is the output i got:
[code]
the first object in this should be `"No": 1` and last one should be without the `\r` character. can you tell me how i can fix this? Im trying to use this for serverless application.

Here's my current code:
[code]

[2019-03-20 11:07] mrodrig commented on #108
Hi @Mike-Van. Glad to hear that seems to have worked! I'm not sure where your last comment went (I saw the email, but it's not showing up here for some reason). It looks like in the case you just need to set two options in order for the CSV to be converted properly to JSON.

First, the `\ufeff` character that you're seeing at the beginning, that's an Excel BOM (Byte Order Mark). The `excelBOM` opt

[2019-03-20 18:46] jvetyska opened #109 "csv2json not parsing commas correctly!"
## Background Information
- Module Version: `3.4.1`
- Node/Browser Version: `8.12`

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [ x ] searched to see if an issue has already been reported.
- [ x ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ x ] tried upgrading to the latest version of json-2-csv (sin

[2019-03-20 20:42] jvetyska commented on #109
Note:
I've used other json2csv modules and they work great but some of their performance is really poor.
So I have successfully switched to json-2-csv for the json -> csv portion, which converts in 1-2 seconds vs another module took 10 seconds. But unfortunately, the other direction csv -> json is not working!

[2019-03-20 21:03] mrodrig commented on #109
Hi @jvetyska. Thanks for reporting this! That's definitely not what I would expect for JSON output so something is definitely going wrong there. I'm going to take a look at it in a little bit. If what I think is happening is truly the cause, then I think it should be a pretty straightforward fix. Hopefully I'll be able to fix it and release a new version tonight so that it isn't holding you up. I'

[2019-03-21 03:02] mrodrig commented on #109
There ended up being two separate bugs that your example found, so thank you for the great example CSV! Unfortunately I wasn't able to fix the second one tonight, but I understand what the issue is. I'm going to keep working on it after work tomorrow. Once the remaining bug is fixed, I'll add a few tests to cover the areas where the bugs appeared to ensure they don't reappear down the road.

Sorry

[2019-03-21 03:45] Mike-Van opened #110 "csv2json: Read fields that has multiple line"
Hello, im trying to read from csv file the fields that has multiple line. But it somehow doesnt read correctly. Here's my sample csv data:

[code]
the multiple line field is
**"Called 7-Feb-19 He busy this week need to call again to confirm meeting on15-Feb-19
Meeting with Mr.Sak Kirin 15-Feb-19 He will report to owner"**
i try split the value by split('\r') or split('\n') but still doesnt give me

[2019-03-21 04:57] jvetyska commented on #109
No big deal! Thanks for addressing the issues so quickly!

On Wed, Mar 20, 2019 at 8:02 PM Michael Rodrigues <notifications@github.com>
wrote:

--
- Jiri.

[2019-03-22 01:14] mrodrig commented on #110
Hi @Mike-Van. Thanks for reporting that issue! At initial glance, it appears that this may be a known issue (#95). Hopefully I'll have a chance this weekend to take a look at it. I'll keep you posted on the progress.

Thanks again!

[2019-03-22 03:39] mrodrig commented on #109
No problem! I was able to fix the second bug tonight, but would like to add a few tests before merging the fixes in to make sure that they don't reappear at some point. I should be able to get those added in tomorrow and then I'll publish a new release to NPM. I'll let you know once the new version with the fixes is published.

Sorry for the delay!

[2019-03-23 03:00] #109 closed

[2019-03-23 03:02] mrodrig commented on #109
The bug fixes are now published to NPM in `3.4.2`. Please feel free to let me know if you find any other issues.

Thanks again for reporting this!

[2019-03-23 03:43] mrodrig commented on #95
From @Mike-Van in #95:
Hello, im trying to read from csv file the fields that has multiple line. But it somehow doesnt read correctly. Here's my sample csv data:

2,COVET COFFEE CAMBODIA,,,,FOOD & BEVERAGE,Mr. Phalla ,General Manager,covetcoffeecambodia@gmail.com,+855 70 888 242/ 98 506 171 (sakirin),,Yes,,,,1,,,,,S,Rachana,Meeting ,Mr.Sak kirin,2/15/19,,,,"Called 7-Feb-19 He busy this week need t

[2019-03-23 03:47] mrodrig commented on #110
Since this is the same issue as reported in # 95, I'm going to close this out. This is next up on my list of things to tackle and hopefully I'll be able to make some progress on it this weekend.

[2019-03-23 03:47] #110 closed

[2019-03-25 01:15] mrodrig commented on #95
Making good progress on this. Some preliminary manual testing shows that it's working, but given the changes that needed to be made, I still have some adjustments left in order to not break existing functionality.

[2019-03-30 17:07] mrodrig commented on #95
@Mike-Van I have all of the tests passing, but need to cleanup some console logs so the linter passes. I'm going to do some additional testing to make sure everything still looks good and then I should have this fix out in a new release either today or tomorrow.

[2019-03-31 04:36] #95 closed

[2019-03-31 04:38] mrodrig commented on #110
Hi @Mike-Van!
Just wanted to post back and let you know that the fix for the issue that you reported has been merged into `master` and is now released in `3.5.0` on NPM.

Please feel free to let me know if you run into any other issues.

Thanks!

[2019-03-31 04:38] mrodrig commented on #95
Released in NPM version `3.5.0`

[2019-04-12 01:46] mrodrig opened #113 "JSON format issue reported by naveenkolusu"
Issue reported by @naveenkolusu on the wiki:

[code]

[2019-04-12 01:49] mrodrig opened #114 "CLI scripts need shebang"
## Background Information
- Module Version: `3.5.0 `

The issue I'm reporting is with:
- [x] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the issue may already be fixed).

[2019-04-12 02:02] mrodrig commented on #113
Hi @naveenkolusu. Thanks for reporting this!

So it looks like the default output with no options specified is:
[code]

That looks correct to me and opens into Excel.  I'm guessing you were hoping to have json2csv parse this subarray too though. In that case, if you pass the `{expandArrayObjects: true}` option to the json2csv converter function, then you'll get this output:

[code]

Please feel fr

[2019-04-12 02:02] #113 closed

[2019-04-19 20:51] tandrewnichols opened #115 "How do you submit an empty field when `wrap` is a double quote?"
## Background Information
- Module Version: `3.5.0`
- Node/Browser Version: `9.11.2`

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since t

[2019-04-20 00:57] tandrewnichols commented on #115
Incidentally, it _does_ work when the empty value is the _first_ in a line, like:

[code]

[2019-04-20 23:09] mrodrig commented on #115
Hi @tandrewnichols. Thanks for reporting that! After taking a look, it's definitely a bug. I was able to figure out exactly what was going wrong and already have a fix. Once the CI tests finish running, I'll merge the fix into master and will push out a new version on NPM with that bug fixed. It'll be out as `3.5.1` on NPM.

Thanks again for reporting this and sorry for any inconvenience this may

[2019-04-20 23:12] #115 closed

[2019-04-21 01:47] mrodrig opened #117 "Wrap delimiter wrapped header values aren't unwrapped"
## Background Information
- Module Version: `3.5.1`

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

Noticed this while working on #115. Unpublished `3.5.1` due to having this bug.

## CSV Input:
[code]

## Expected JSON output:
[code]

## Actual JSON output:
[code]

[2019-04-21 02:20] #117 closed

[2019-04-22 10:54] tandrewnichols commented on #115
Thanks, @mrodrig! Very fast turn around. I appreciate the time and work.

[2019-04-24 20:23] tandrewnichols commented on #115
@mrodrig I don't know if this is a regression because of the above fix, but I'm also (or now) seeing a similar issue with double quotes in the last column of a row. For example:

[code]

Parses as:

[code]

[2019-04-26 03:08] mrodrig commented on #115
@tandrewnichols Hmm, I was pretty sure that I had tested that case, but maybe something got messed up when I was shuffling changes around to different change lists in my editor. I should be able to take a look at this tomorrow. I don't think it will be a difficult fix, so hopefully I'll be able to get a new release out on NPM.  Sorry about that. I'll keep you updated with any progress that I make.

[2019-04-26 22:46] mrodrig opened #119 "Handle quoted empty values at end of line or file"
## Background Information
- Module Version: `3.5.2`

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the issue may already be fixed).

[2019-04-26 23:05] #119 closed

[2019-04-26 23:09] mrodrig commented on #115
@tandrewnichols I just published `3.5.3` on NPM which fixes that issue. Thanks again for letting me know!

[2019-04-29 13:45] tandrewnichols commented on #115
👍

[2019-05-25 10:12] markwynter opened #121 "Expand Array Objects via CLI"
## Background Information
- Module Version: 3.5.3
- Node v.6.6

The issue I'm reporting is with:
 json2csv

Hi Mike

I've edited constants.json and set expandArrayObjects=true.

The CLI command I'm calling is:
json2csv asana.json -o asana.csv

The input JSON and output CSV files are attached.
[Archive.zip](https://github.com/mrodrig/json-2-csv/files/3219280/Archive.zip)

Is there anything obvious

[2019-05-26 01:42] mrodrig commented on #121
Hi Mark,

Thanks for reporting that. I'm not sure why changing the constants.json file didn't work since it pulls the defaults from there, but regardless - good find that there wasn't a CLI option for that. I must have forgot to add it when I added the `expandArrayObjects` option. I apologize for that. I just added it and tested it with some local JSON files and it's working with that option speci

[2019-05-26 01:57] mrodrig commented on #121
Published to NPM. Thanks again!

[2019-05-26 08:01] markwynter commented on #121
Thanks Mike - much appreciated for your hard work and responsiveness - I upgraded to latest version, but I'm still having trouble producing the desired output using the "asana.json" input file contained in Archive.zip attached to my original message. The attached file "desired_csv.txt" is the output I'm hoping to produce?  Is this possible?
[desired_csv.txt](https://github.com/mrodrig/json-2-csv/f

[2019-05-27 02:10] mrodrig commented on #121
Hi Mark - sorry that it still isn't behaving as you expect. I'm going to take a closer look to see what's causing it to output the data in an array instead of as individual rows. In the mean time, I'm going to re-open the issue. I'll let you know what I find and a rough timeline estimate once I have a chance to take a closer look.  Thanks!

[2019-06-14 02:38] mrodrig commented on #121
Hi Mark,

Sorry for the delayed response. I've been looking through at how this gets handled in the module and at how other modules handle this particular scenario. While I definitely see the use case and found one other module that provides this behavior ([jsonexport](https://www.npmjs.com/package/jsonexport)), I'm not really sure that it's the behavior that I would expect based on the JSON. Sinc

[2019-06-20 02:11] #121 closed

[2019-06-27 03:15] matipazw opened #123 "CSV with datetime values"
## Background Information
- Module Version: ` `
- Node/Browser Version: ` `

The issue I'm reporting is with:
- [x ] json2csv
- [ ] csv2json

I have...
- [ ] searched to see if an issue has already been reported.
- [x ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ ] tried upgrading to the latest version of json-2-csv (since the issu

[2019-06-27 13:02] johanhaleby opened #124 "Using nested keys doesn't generate CSV correctly?"
## Background Information
- Module Version: `^3.5.4`
- Node/Browser Version: `v12.4.0 `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (sinc

[2019-06-30 18:25] #123 closed

[2019-06-30 18:26] mrodrig commented on #123
Thanks for reporting this @matipazw!

I fixed the underlying issue and published `3.5.5` on NPM. Please let me know if you run into any other behavior that you don't expect. Thanks again!

[2019-07-02 16:38] josh-hemphill opened #126 "CLI hangs instead of giving any error or result."
## Background Information
- Module Version: `3.5.1 `
- Node/Browser Version: `Node 12.4.0 `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (

[2019-07-06 01:29] mrodrig commented on #121
This was brought up again in #124 so I'm taking another look.

[2019-07-06 02:14] mrodrig commented on #126
Hi @josh-hemphill. Thanks for reporting this! Unfortunately, I can't seem to reproduce this locally using the JSON that you provided. I tried with both Node 10.9.0 and 12.6.0, but both are working for me using the command that you provided. I'm seeing the CSV get written to the file and the script returns and exits successfully. I'm not sure if maybe there's an issue with specifically Node 12.4.0?

[2019-07-12 16:47] josh-hemphill commented on #126
I just tried running it in both cmd.exe and git bash after upgrading to node 12.6 and having the same issue.

[2019-07-12 18:47] mrodrig commented on #126
Okay, thanks for giving that a try. I tried running it on my Windows machine with Node 12.6.0 and it works for me. If you happen to know where the module is installed, could you try running `node <path_to_node_modules>/json-2-csv/bin/json2csv.js <arguments>`?

If that also hangs, then could you provide the verbose output when trying to run it like this: `NODE_DEBUG=* node <path_to_node_modules>/js

[2019-07-17 14:27] #126 closed

[2019-07-17 17:07] josh-hemphill commented on #126
Yep, node <path_to_node_modules>/json-2-csv/bin/json2csv.js <arguments> works much better. And NODE_DEBUG doesn't output anything unusual. I'm stumped.

[2019-07-17 17:18] josh-hemphill commented on #126
Well, I found the issue... I installed the wrong package to my global packages... Sorry about that.

[2019-07-17 19:41] mrodrig commented on #126
Oh, okay. No worries! Good to hear that it's working now. Please feel free to let me know if you notice anything else.

[2019-07-22 11:19] zarov opened #127 "Using it as a head script import."
## Background Information
- Module Version: `3.5.5`
- Node/Browser Version: `any browser`

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [ ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ ] tried upgrading to the latest version of json-2-csv (si

[2019-08-02 21:17] josh-hemphill opened #128 "Number-like values beginning with zero not quote escaped"
## Background Information
- Module Version: `3.5.5`
- Node/Browser Version: `Node 12.7.0`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (si

[2019-08-13 19:02] mrodrig commented on #128
Hi @josh-hemphill. Thanks for reporting this. I just tested this out on my Mac and it looks like with and without quotes, Excel ends up stripping the extra 0's and the cell is still marked as containing the "General" type. Maybe Excel on Windows behaves differently and converts the values to the "Number" type?

I'll try it out on my Windows machine later to see, but this definitely seems like a us

[2019-08-13 19:18] mrodrig commented on #127
Hi @zarov. Thanks for reporting this. You're right - currently there isn't a way that I'm aware of that this library can be loaded into a browser via a <head> script import. I'm definitely open to supporting that, but I don't have any experience with converting NPM modules into browser-supported libraries. I'll take a look, but if someone beats me to it and creates a pull request for it, I'll defi

[2019-08-20 12:53] johanhaleby commented on #124
Anything I can do to help?

[2019-10-31 07:23] fires3as0n opened #132 "Code in examples is not working"
## Background Information
- Module Version: ` 3.5.7`
- Node/Browser Version: `Node 10.16.0 `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv

[2019-11-02 16:48] mrodrig commented on #132
Hi @fires3as0n. Sorry for the delay in getting back to you. You're right, that example is wrong. It should be json2csvAsync like you mentioned. I updated the wiki to reflect that, so it should be correct now. Thanks for reporting that and sorry for any inconvenience it may have caused!

[2019-11-02 16:48] #132 closed

[2019-11-25 03:34] kritsanaCh57 opened #133 "`json2csvAsync` cannot use `delimiter` wrap with '"'"
## Background Information
- Module Version: `3.5.7`
- Node/Browser Version: `12.8.0`

The issue I'm reporting is with:
- `json2csvAsync` cannot use `delimiter` wrap all field

## Expected Behavior
"null","null","null"
"null","null","null"

## Actual Behavior
null,null,null
null,null,null

## Data Sample
JSON:
[code]

## Code Example
[code]

[2019-11-25 03:37] kritsanaCh57 opened #134 "`json2csvAsync` cannot use `delimiter` wrap with '"'"
## Background Information
- Module Version: `3.5.7`
- Node/Browser Version: `12.8.0`

The issue I'm reporting is with:
- `json2csvAsync` cannot use `delimiter` wrap all field

## Expected Behavior
"null","null","null"
"null","null","null"

## Actual Behavior
null,null,null
null,null,null

## Data Sample
JSON:
[code]

## Code Example
[code]

[2019-11-25 03:38] #134 closed

[2019-11-25 03:38] kritsanaCh57 opened #135 "`json2csvAsync` cannot use `delimiter` wrap with '"'"
## Background Information
- Module Version: `3.5.7`
- Node/Browser Version: `12.8.0`

The issue I'm reporting is with:
- `json2csvAsync` cannot use `delimiter` wrap all field

## Expected Behavior
"null","null","null"
"null","null","null"

## Actual Behavior
null,null,null
null,null,null

## Data Sample
JSON:
[code]

## Code Example
[code]

[2019-11-25 19:58] WithoutPants opened #136 "Missing commander dependency on fresh install"
## Background Information
- Module Version: `3.5.7 `
- Node/Browser Version: `10.16.0`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2019-11-26 03:08] kritsanaCh57 commented on #135
Duplicate of #133

[2019-11-26 03:08] #135 closed

[2019-11-27 03:04] mrodrig commented on #133
Hi @kritsanaCh57. Thanks for reporting this. The way the module was designed is such that only field values that need to be wrapped in quotes will be per [RFC-4180 section 2.5](https://tools.ietf.org/html/rfc4180#section-2). In this case, the CSV that is generated is still valid, and allows for the CSV to JSON functionality to also be able to interpret the data type again if the data needs to be c

[2019-11-27 03:07] mrodrig commented on #136
Hi @WithoutPants. Thanks for reporting this. That's definitely an issue. Good find! I'll work on getting that fixed as soon as possible. Thanks again for reporting it!

[2019-12-08 04:48] #133 closed

[2019-12-23 04:56] #136 closed

[2020-01-20 12:34] Nolween opened #138 "Install error"
Hi,

I wanted to install your lib, but when I try to execute the install command, I get these (attached file)

Have you any idea of what is wrong?

Thank you,

Nolween
[2020-01-20T12_24_06_426Z-debug.log](https://github.com/mrodrig/json-2-csv/files/4086146/2020-01-20T12_24_06_426Z-debug.log)

[2020-01-20 12:40] Nolween commented on #138
Ok, I believed it was your lib, but it's a npm / node problem on my side. Sorry for the inconvenience :)

[2020-01-20 12:40] #138 closed

[2020-02-12 14:07] juan-dura opened #139 "csv2json duplicates nested key in the first column"
## Background Information
- Module Version: `3.5.9 `
- Node Version: ` v10.16.0`

The issue I'm reporting is with:
- [ ] json2csv
- [X] csv2json

I have...
- [x ] searched to see if an issue has already been reported.
- [x ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x ] tried upgrading to the latest version of json-2-csv (since th

[2020-02-13 03:00] mrodrig commented on #139
Hi @juan-dura. Thanks for reporting this. I tried to replicate this issue, but it seems to be outputting the expected JSON for me using the following code:

[code]

Output:
[code]

[2020-02-13 08:44] juan-dura commented on #139
Sorry. My mistake. I am reading a CSV file. An I didn't notice that `fs.readFileSync` adds a space in the first key: `' suj.codigo,suj.sexo,suj.edad,suj.fechaNacimiento\n'`

I have to investigate why `fs.readFileSync` adds an space.

This is the file:
[test.txt](https://github.com/mrodrig/json-2-csv/files/4197219/test.txt)

This is my code:
[code]

[2020-02-14 01:37] mrodrig commented on #139
No worries! Great question - I tried your code with test.txt on my machine and it doesn't appear to be adding the space in so I'm really not sure why it's doing that for you.  Here's the output I'm seeing:

[code]

[2020-02-14 01:39] #139 closed

[2020-02-14 02:43] mrodrig commented on #128
Sorry for the long delay in getting back to you. I took a look at this with Excel on my Windows machine and it looks like Excel's 'General' cell data type is what causes the zeroes to be hidden. If you go into the 'Format Cells' menu and change the type to 'Custom' then it will show the leading zeroes when the value is quoted. Since I can't specify the data type in advance in the CSV as far as I'm

[2020-02-14 02:43] #128 closed

[2020-02-17 02:38] #124 closed

[2020-02-17 02:52] mrodrig commented on #124
Sorry for the long delay @johanhaleby! My first attempt didn't really pan out, but the approach I took works well from my testing. Here's an example of how to use the new `unwindArrays` option that's added in `3.6.0`:

[code]

Which produces:
[code]

[2020-04-20 17:00] ronyeh3 opened #145 "appending BOM unexpectedly"
## Background Information
- Module Version: `latest `
- Node/Browser Version: `10 `

The issue I'm reporting is with:
- [ x] json2csv
- [ ] csv2json

I have...
- [ ] searched to see if an issue has already been reported.
- [ ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ ] tried upgrading to the latest version of json-2-csv (since t

[2020-04-22 23:33] mrodrig commented on #145
Thanks for reporting that @ronyeh3. Could you please provide some example so I can reproduce the issue? I can't seem to replicate this so it would be helpful to see how you're getting it to happen.

[2020-04-29 04:21] #145 closed

[2020-04-29 04:22] mrodrig commented on #145
Closing the issue because I can't reproduce this without a code example. If you have a chance to create an example so I can reproduce this issue, please feel free to reopen the issue. Thanks!

[2020-05-06 10:53] meelash commented on #64
I have another use case for this, wondering if this is still a possibility to get implemented, and/or if there is a better way currently to accomplish what I'm seeking.
By default datetimes will be converted to UTC when creating a csv, since that is what Date.prototype.toString() does. Generally, I'm guessing this would not be desired behavior.

Example:
[code]
If my local timezone is EST, json2cs

[2020-05-06 10:56] meelash opened #146 "Use of 'toLocaleString' when converting date values"
Wasn't sure if this would be seen in the closed issue, so, creating a new issue here:

I have another use case for this: https://github.com/mrodrig/json-2-csv/issues/64 , wondering if this is still a possibility to get implemented, and/or if there is a better way currently to accomplish what I'm seeking.
By default datetimes will be converted to UTC when creating a csv, since that is what Date.pro

[2020-05-08 04:12] mrodrig commented on #146
Hi @meelash, thanks for bringing this up again. The module has definitely been updated since then and I think it would be a bit easier to provide that functionality now, but I'd likely have to require an option in order to ensure backwards compatibility. The only other option that came to mind if you needed a quick solution for a script or something like that, would be to set the TZ environment va

[2020-05-09 02:30] #146 closed

[2020-05-09 02:40] mrodrig commented on #146
Added the `useLocaleFormat` option, which when set to `true` will cause the module to use `toLocaleString()` instead of `toString()`. This new option is published in `3.7.0` and should be available on NPM.

[2020-05-09 02:42] mrodrig commented on #64
Added the useLocaleFormat option, which when set to true will cause the module to use toLocaleString() instead of toString(). This new option is published in 3.7.0 and should be available on NPM.

[2020-06-04 19:31] lejacobroy opened #149 "Force conversion of all fields to strings"
## Background Information
- Module Version: `3.7.0`
- Node/Browser Version: `13.13.0 `

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2020-06-06 21:08] mrodrig commented on #149
Thanks for reporting this @lejacobroy! Having it converted to `Infinity` is definitely not the desired behavior. I added logic to ensure this shouldn't happen for values of that format again and will be releasing the fix as part of `3.7.1` shortly. Thanks again for your report.

Have a nice weekend and stay safe!

[2020-06-06 21:08] #149 closed

[2020-06-08 13:00] lejacobroy commented on #149
Thank you for the fast reply and fix! I'll test it this week.

[2020-06-18 01:31] Bakabake opened #151 "unwindArrays:true with an empty array fails to convert the object."
## Background Information
- Module Version: `3.7.1`
- Node/Browser Version: `10.16.0`

The issue I'm reporting is with:
- [X] json2csv
- [ ] csv2json

I have...
- [X] searched to see if an issue has already been reported.
- [X] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [X] tried upgrading to the latest version of json-2-csv (since

[2020-06-18 04:15] #151 closed

[2020-06-18 04:15] mrodrig commented on #151
Thanks for reporting this bug @Bakabake! That was a good find. I fixed the issue and published the update in `3.7.2` which should be up on NPM now.

[2020-06-18 04:37] Bakabake commented on #151
Thank you!

[2020-06-22 11:30] pustovitDmytro opened #153 "not parsing wrapped delimiter in first column"
## Background Information
- Module Version: `3.7.3 `
- Node/Browser Version: ` node v8.11.1`

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv

[2020-06-22 12:39] pustovitDmytro commented on #153
looks like I've found a possible solution, I'll try to provide PR with test

[2020-06-23 01:16] mrodrig commented on #153
Thanks for reporting that and for the PR @pustovitDmytro! Good find. Your PR looks great. I'm going to merge it in and publish it on NPM in `3.7.4`.

[2020-06-23 01:17] #153 closed

[2020-06-23 18:39] Bakabake opened #155 "[CSV -> JSON] An empty value at the end of the CSV does not write to JSON properly."
## Background Information
- Module Version: `3.7.4`
- Node/Browser Version: `10.16.0`

The issue I'm reporting is with:
- [ ] json2csv
- [X] csv2json

I have...
- [X] searched to see if an issue has already been reported.
- [X] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [X] tried upgrading to the latest version of json-2-csv (since

[2020-06-24 03:18] mrodrig commented on #155
Thanks for reporting this @Bakabake. Another good find. I have a PR out to handle that scenario and will merge it in once the tests finish running. I should have it published to NPM in a little bit as `3.7.5`. Thanks again for reporting it and for all of the additional notes you provided. They were really helpful.

[2020-06-24 03:18] #155 closed

[2020-06-24 18:05] Bakabake commented on #155
Anytime!  I'm always happy to help!

[2020-07-21 11:32] nalvarezdiaz opened #158 "'unwindArrays' does not exist in type 'IFullOptions'"
## Background Information
- Module Version: `3.7.5 `
- Node/Browser Version: ` v12.14.0`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [ ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (sin

[2020-07-22 00:23] #158 closed

[2020-07-22 00:25] mrodrig commented on #158
Thanks for reporting this @nalvarezdiaz. It looks like `unwindArrays` and `useLocaleFormat` were both missing from the options specified for TypeScript support. Sorry about that. I've published a fix for that in `3.7.6`.

[2020-07-30 07:34] willemruys opened #160 "Help needed: expandArrayObjects not delivering expected result."
## Background Information
- Module Version: `3.7.6`
- Node/Browser Version: `13.8.0`

The issue I'm reporting is with:
- [x] json2csv

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the issue may al

[2020-09-16 16:53] Haugf commented on #160
Did you ever manage to solve this?

[2020-09-28 09:14] quillcraft opened #161 "Empty value in CSV is converted to comma in JSON"
## Background Information
- Module Version: ^3.7.6
- Node/Browser Version: v10.15.3

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [ ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since th

[2020-09-28 22:53] quillcraft commented on #161
"version": "3.7.6"

I found my mistake: there was no /n at the end in the last line of csv.
I get this csv by the action of the same module (json-2-csv).
And last line don't have /n at the end.

const options = {
	emptyFieldValue: '',
	delimiter: {
		wrap: '"',
		field: ',',
		eol: '\n'
	}
};
converter.json2csv(jsonDataNew, (error, csvData) => {
	if (error) throw error;
	fs.writeFileSync(file, csv

[2020-09-30 00:45] mrodrig commented on #161
Good find. I'll take a look to see if I can update the logic to improve the handling of that case.

[2020-09-30 04:27] #161 closed

[2020-09-30 04:30] mrodrig commented on #161
I fixed the issue and published it to NPM in `3.7.7`. Thanks again for reporting this.

[2020-09-30 04:35] mrodrig commented on #160
Hi. Thanks for reporting this. Can you please try version `3.7.7`? There was a bug (https://github.com/mrodrig/deeks/pull/12) in one of the dependency libraries that's used to get the keys which I believe may resolve this. Thanks!

[2020-09-30 06:48] quillcraft commented on #161
Hi @mrodrig. Thank you very much!

[2020-10-05 15:12] #160 closed

[2020-10-09 16:05] hdwatts opened #164 "Nested Arrays of Length == 1 Fail to Unwind"
## Background Information
- Module Version: `3.7.8`
- Node/Browser Version: `Chrome 85.0.4183.121 `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json

[2020-10-09 17:14] hdwatts commented on #164
Here is a full reproducable example showing that when the outermost array has 5 elements it does not output correctly, but succeeds when just the first 3 elements or the last 2 elements.

[code]

[2020-10-13 15:13] hdwatts opened #167 "Flattening Arrays >200k rows throws an exception in Chrome"
## Background Information
- Module Version: `3.7.8`
- Node/Browser Version: `Chrome 85.0.4183.121 `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json
- [x] Utils

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest ver

[2020-10-20 14:10] hdwatts opened #168 "Empty Array Being Returned as Header causing JSON output"
## Background Information
- Module Version: `3.7.8`
- Node/Browser Version: `86.0.4240.80 `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (

[2020-10-20 14:17] hdwatts commented on #168
To note, while messing around I found a way to get the expected output, but do not think it is the correct solution as it causes a test to fail. I solved it by updating `deeks.generateDeepKeysList` to return no key if there is an array to recur on but it is empty:

[code]

and then changing `json-2-csv.utils`, where we "push an empty string so the value is empty since there are no values" to inste

[2020-11-30 00:35] #167 closed

[2020-11-30 00:38] #164 closed

[2020-11-30 00:39] #127 closed

[2020-12-02 21:03] smammadov1994 opened #171 "How do I give the keys a custom title?"
Hello, I am using json-2-csv and I do not see in the documentation where I can give my own custom column headers? Right now it is using the keys as the column headers and when I change the keys to something else it fails to grab the data. How do I properly do this?

[2020-12-05 06:14] mrodrig commented on #171
Hi @smammadov1994. Good question. There wasn't a way to specify a custom column title, but it's definitely a reasonable use case so I added that functionality in `3.8.0` which should be up on NPM now. You should be able to specify something like the following in order to set a custom column title for a specific key:

[code]

Which would generate something like this:
[code]

Hope this helps.

[2020-12-05 06:14] #171 closed

[2020-12-30 03:54] LandingWind opened #175 "Type Error in json2csv module"
## Background Information
- Module Version: `3.10.0`
- Node/Browser Version: ``

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the is

[2020-12-30 04:09] LandingWind opened #176 "docs conflict with code seemingly: custom header"
## Background Information
- Module Version: `3.10.0 `
- Node/Browser Version: ` `

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since the

[2021-01-01 19:25] #175 closed

[2021-01-01 19:25] #176 closed

[2021-05-11 01:04] mrodrig opened #182 "Remove workaround array flattening logic now that Node 12 is LTS"
## Background Information
In #167, a "workaround" approach was taken to allow large arrays to be flattened in web browsers. Now that most browsers support this and have for several versions, and Node 11+ supports Array.prototype.flat, this workaround can be removed.

https://github.com/mrodrig/json-2-csv/blob/stable/lib/utils.js#L298

[2021-05-12 15:23] kentsitu opened #183 "Customized Header Names"
## Background Information
- Module Version: ` 3.11.1`
- Node/Browser Version: ` V12.18.0`

The issue I'm reporting is with:
- [! ] json2csv

I have...
- [! ] searched to see if an issue has already been reported.
- [! ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ !] tried upgrading to the latest version of json-2-csv (since the iss

[2021-05-13 01:08] mrodrig commented on #183
Hi @kentsitu, thanks for opening this. If I'm understanding correctly, you're looking to be able to specify a custom header for a particular CSV column, right? If so, that is currently supported. Here's the relevant snippet from the `README.md`:
  * `keys` - Array - Specify the keys that should be converted.
    * Default: These will be auto-detected from your data by default.
    * Keys can eithe

[2021-05-13 01:14] #183 closed

[2021-05-13 04:16] kentsitu commented on #183
HI @mrodrig , that's what I was looking for. It's working. Thank you very much!

[2021-05-14 23:15] joshuali925 opened #184 "json2csv doesn't flatten values correctly"
## Background Information
- Module Version: `3.11.1`
- Node/Browser Version: `10.23.1`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2021-05-16 23:22] jgutix opened #185 "Fails if attribute is named 'set'"
## Background Information
- Module Version: ` 3.11.1`
- Node/Browser Version: ` 14`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ ] tried upgrading to the latest version of json-2-csv (since th

[2021-05-19 21:23] mrodrig commented on #185
Thanks for reporting this @jgutix! I found the issue and have a pull request open for the fix. I'm going to see if I can push a release out later today with this and hopefully a fix for another issue that was reported. I'll comment with the version number once it goes out.

[2021-05-20 00:33] peacechen opened #188 "Excel issue needs option to force delimeter.wrap"
Excel automatically converts `false` boolean types to `FALSE`. Users who load and edit the CSV in Excel end up with booleans values that are uppercase `TRUE/FALSE` instead of lowercase. This does not parse back properly with `csv2json`. If I manually edit the CSV and wrap the boolean true/false in quotes, it remains lowercase after editing in Excel.

The `delimeter.wrap` option has no effect for a

[2021-05-20 04:06] #185 closed

[2021-05-20 04:10] #188 closed

[2021-05-20 04:11] mrodrig commented on #188
Thanks for reporting this @peacechen. I can definitely see the use case for forcing boolean values to be wrapped since Excel is interpreting them when not wrapped in quotes. I've added a `wrapBooleans` options that will force these Boolean values to be wrapped in the `options.delimiter.wrap` value and released it in version 3.12.0 just now. Hope this helps.

[2021-05-20 04:13] mrodrig commented on #185
Thanks again @jgutix. I just released the fix in version `3.12.0` which should be available on NPM now.

[2021-05-20 04:16] mrodrig commented on #184
Thanks for reporting this @joshuali925. This wasn't a scenario I considered, but it's definitely valid. It looks like I'll need to rework things a bit in both the underlying key path generation module (`deeks`) and key path evaluation module (`doc-path`) to handle this in an efficient manner. I'll post back when I have progress to report.

[2021-05-20 06:42] peacechen commented on #188
Thanks for the fast turn-around!

A small TS issue: passing in `wrapBooleans` to options results in an error

It looks like `wrapBooleans` needs to be added to the TS definition for `IFullOptions`.
https://github.com/mrodrig/json-2-csv/blob/258f048312936d3897f2d5a43b47f7df1bf62db0/lib/converter.d.ts#L45

[2021-05-20 13:11] mrodrig commented on #188
Sorry about that - I'll merge your PR and will get that released in `3.13.0` in a few minutes. Thanks for the PR!

[2021-05-20 14:52] peacechen commented on #188
Thanks again for the fast merge and release 😄

[2021-05-21 11:15] JeffersonLupinacci opened #192 "Wrong CSV"
## Background Information
- Module Version: `^5.0.6`
- Node/Browser Version: ` 10`

The issue I'm reporting is with:
- [X] json2csv
- [ ] csv2json

I have...
- [X] searched to see if an issue has already been reported.
- [X] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [X] tried upgrading to the latest version of json-2-csv (since the

[2021-05-24 01:57] mrodrig commented on #192
Hi @JeffersonLupinacci. Please double check that you're using the `json-2-csv` module. I believe you may be using the `json2csv` module by a different author since this module doesn't have a `Parser` class that's used for the conversion.

For what it's worth, this module (`json-2-csv`) is generating RFC-4180 compliant CSV for the provided JSON.

Please feel free to re-open if the issue you're enco

[2021-05-24 01:57] #192 closed

[2021-05-26 04:04] mrodrig commented on #184
Just wanted to give a quick update - I have the needed changes in the `deeks` and `doc-path` dependency modules complete and released to NPM. The only change that was needed to `json-2-csv` is also pushed up in a branch, but I need to formalize my manual test scripts into automated unit tests before I can get it out in a release. I'm hoping to have those written up and pushed in the next couple of

[2021-05-26 16:21] joshuali925 commented on #184
Got it, thanks a lot for your work!

[2021-05-28 03:57] #184 closed

[2021-05-28 04:02] mrodrig commented on #184
I just merged and published the fix in `3.14.0` on NPM. Thanks again for reporting this. Feel free to let me know if you spot anything else that doesn't look right.

[2021-06-11 07:36] CodesAreHonest opened #197 "Safari - Invalid Regular Expression - Invalid Group Specifier Names"
## Background Information
- Module Version: `3.14.0`
- Node/Browser Version: `16.1.0`

The issue I'm reporting is with:
- [x] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2021-06-13 05:21] mrodrig commented on #197
Thanks for reporting this @CodesAreHonest. I'll work on getting a fix out for this very soon. I'll post back with an update once I have a new release published to NPM that fixes this.

[2021-06-13 07:18] CodesAreHonest commented on #197
Appreciate your response on this issue, looking forward for the fixes and thanks for the awesome library !

[2021-06-13 17:25] #197 closed

[2021-06-13 17:26] mrodrig commented on #197
Thanks again for reporting this @CodesAreHonest. The fixed version should be up on NPM now as version `3.14.1`. Please feel free to let me know if you run into any other issues.

[2021-06-14 02:51] CodesAreHonest commented on #197
My pleasure to help, the latest version work like charm in the Safari environment.

Much appreciated.

[2021-06-19 13:36] cstrat opened #200 "Flattening of Array to comma separated values?"
If I have a JSON object with the following data:

[code]

Converting this to CSV I'd like it to look like this:

[code]

It's easy enough to manipulate the data prior to sending it to `json-2-csv`, but not sure if there are any plans for custom data hooks/manipulation.

[2021-06-21 21:42] mrodrig commented on #200
Hi @cstrat. Thanks for asking. Currently the only data manipulation hook that's implemented for the `json2csv` method is the `parseValue` function type option. If you pass a function in using that key in the options object, you'll be able to manipulate the specific field value that's passed to the provided `parseValue` function. For example:

[code]

This overrides the default field value conversi

[2021-06-22 00:42] cstrat commented on #200
Thanks for the response!
I wasn't looking close enough at the docs to notice that.

I'm using a different CSV to JSON converter (csvtojson) which has hooks based on CSV header so I was hoping this had something similar based on a JSON attribute, but this is all I really need.

[2021-06-22 00:42] #200 closed

[2021-06-23 12:49] Franck-El opened #201 "Can't be use with a stringify object but only with object that fields are strings"
## Background Information
- Module Version: ` 3.14.1`
- Node/Browser Version: ` 14.17.0`

The issue I'm reporting is with:
- [x ] json2csv
- [ ] csv2json

I have...
- [x ] searched to see if an issue has already been reported.
- [x ] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x ] tried upgrading to the latest version of json-2-csv

[2021-07-28 10:52] iman-nebulr opened #202 "CSV string returned prepends numbering to headers"
## Background Information
- Module Version: `3.11.1`
- Node/Browser Version: `12.19.0 `

The issue I'm reporting is with:
- [X] json2csv
- [ ] csv2json

I have...
- [X] searched to see if an issue has already been reported.
- [X] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [X] tried upgrading to the latest version of json-2-csv (sinc

[2021-07-29 04:39] mrodrig commented on #202
Thanks for reporting this @iman-nebulr. Could you please provide a code example with test JSON data that reproduces this issue? I'm unable to reproduce this issue on version `3.14.1` (latest on NPM).

Something like this would be great:

[code]

In this example, I'm seeing the following CSV output:

[code]

[2021-07-29 04:46] mrodrig commented on #201
Thanks for reporting this @Franck-El. It's a good suggestion, though I'm not sure I want to add the logic in. My thought is that if someone were to pass a `String` in, then I could assume it's a JSON representation, but that assumption might be wrong and it could cause some confusion. It seems like passing an array of objects, or a single object, is probably better since this library is less likel

[2021-07-29 04:46] #201 closed

[2021-08-01 03:52] mrodrig commented on #202
Closing this, but please feel free to re-open it with a code example if you're still running into this.

[2021-08-01 03:52] #202 closed

[2021-08-02 09:10] iman-nebulr commented on #202
Ok so I found what I was doing

My issue was that I had a structure that included a list of objects like the one below

let data = [
  [
    {
      Name: 'Joe'
    },
    {
      LastName: 'Johnson'
    }
  ],
  [
    {
      Name: 'Mary'
    },
    {
      LastName: 'Johnson'
    }
  ]
];

Here is a [code example](https://stackblitz.com/edit/typescript-bwis4f?file=index.ts)

I would not say it i

[2021-08-05 14:59] joostdebruijn opened #203 "No keyPath was provided"
## Background Information
- Module Version: `3.14.1`
- Node/Browser Version: `16.6.1 `

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2021-08-07 05:13] #203 closed

[2021-08-07 05:14] mrodrig commented on #203
Hi @joostdebruijn. Thanks for reporting this and sorry for the inconvenience this caused. In the process of improving the input validation for `doc-path`, it certainly introduced a bug for your use case in `json-2-csv`. I've added a test for this use case so I'll be able to ensure that won't happen again. I just published a release with a fix for this issue in `3.14.2`, so please let me know if yo

[2021-08-07 16:20] joostdebruijn commented on #203
Hi @mrodrig, I just test it with the latest version and the problem is solved. Thanks for the quick response and fix!

[2021-10-06 21:33] jsmorris2 opened #206 "CSV output is incorrect when JSON value is object or null"
## Background Information
- Module Version: ` 3.14.4`
- Node/Browser Version: `node  14.17.3`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv

[2021-10-13 13:44] mebibou opened #207 "Problem with list of objects same keys"
## Background Information
- Module Version: `3.14.4`
- Node/Browser Version: `12.22.6`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2021-10-14 01:07] mrodrig opened #208 "parseValue not in type definitions"
Reported in https://github.com/mrodrig/json-2-csv/issues/200#issuecomment-940802627

[2021-10-20 20:07] #206 closed, assigned to nobody

[2021-11-17 22:10] johnnyoshika opened #209 "Prevent CSV Injection"
## Background Information
- Module Version: ` 3.10.2`
- Node/Browser Version: ` 15.14.0`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [ ] tried upgrading to the latest version of json-2-csv (sin

[2021-11-30 10:16] vferdiansyah opened #211 "Headerless CSV"
This library still doesn't support CSV file without header does it? Or did I miss something?
Would love to submit a PR for this feature if it's still not supported.

[2021-11-30 13:48] mrodrig commented on #211
Hi @vferdiansyah. I think you might be looking for the `prependHeader` option which can be set to `false` for `json2csv`/`json2csvAsync` to exclude the auto-generated header line, but if not, then I'm definitely open to PRs! Thanks!

[2021-12-02 12:32] vferdiansyah commented on #211
@mrodrig it's actually for `csv2json`/`csv2jsonAsync` since i'm converting CSV to JSON. What I meant was something like this:
[code]
In the sample file above since the first line only consists of 3 columns, `csv2json`/`csv2jsonAsync` will only treat the rest of the data as a 3 column CSV even though looking from the second line (the actual header), it actually has more than 3 columns. I would like

[2021-12-16 03:40] mrodrig commented on #211
@vferdiansyah Thanks for your patience. You're right - that use case isn't currently supported, but I could see it as potentially being useful in some cases, like the example you provided. Unfortunately, I don't currently have time to devote to this, but I'd be open to a PR for it. One thing that I'd be interested in, is whether the _n_ lines leading up to the header would still be converted, or i

[2021-12-16 04:14] #209 closed

[2021-12-16 04:30] #208 closed

[2021-12-16 04:31] mrodrig commented on #182
(the PR shown above has nothing to do with this issue)

[2022-01-06 17:43] pavelhoral opened #214 "Incorrect parsing of wrapped values"
## Background Information
- Module Version: `master `
- Node/Browser Version: `irrelevant `

The issue I'm reporting is with:
- [ ] json2csv
- [x] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (

[2022-01-07 04:35] mrodrig commented on #214
Thanks for reporting this @pavelhoral and apologies that it wasn't working as anticipated for your use case. I've confirmed I can reproduce this issue. I suspect it's a bug with the CSV string parser logic where something isn't quite getting stored properly. I should have some time to walk through this closer this coming weekend, so I'll keep you posted as to when I have a fix published on NPM.

[2022-01-09 01:51] #214 closed

[2022-01-09 01:52] mrodrig commented on #214
Thanks again for reporting this @pavelhoral. I'll be pushing version `3.15.1` to NPM shortly which fixes the issue you identified.

[2022-01-09 01:56] #211 closed

[2022-01-09 01:57] mrodrig commented on #207
Thanks for reporting this @mebibou. I can definitely see this as being useful as well, especially if converting back to JSON from CSV is a requirement. I'll take a look at how I could make this work with the existing `json2csv` options.

[2022-01-09 02:03] mrodrig commented on #182
May still be needed for legacy browser support by some apps. I'm going to leave this logic in for now and will revisit down the road.

[2022-01-09 02:03] #182 closed

[2022-01-14 12:50] mebibou opened #216 "Custom sorting of headers"
## Background Information
- Module Version: `3.14.4`
- Node/Browser Version: `12.22.6`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2022-01-15 01:32] mrodrig commented on #216
Thanks for reporting this @mebibou. That's a great idea and a very nice feature to have. Thanks for the PR too!

[2022-01-15 01:39] mrodrig commented on #216
Released on NPM as `3.16.0`. Thanks again!

[2022-01-15 01:39] #216 closed

[2022-01-20 21:35] loganpowell commented on #168
I'm having a similar issue, but with Objects. E.g.:

[code]
result:
[code]
I've looked through the docs to see how I might address this, but I've come up with nothing... Any tips?

🙏

[2022-01-20 21:36] hdwatts commented on #168
@loganpowell I switched to https://github.com/kaue/jsonexport but I recommend using my fork here: https://github.com/kaue/jsonexport/pull/90

[2022-01-20 23:13] loganpowell commented on #168
@hdwatts I tried that, but that leaves something to be desired as well. I'll follow up on that PR. with more info

[2022-01-20 23:34] loganpowell commented on #168
I've used a work around to make sure a null set is present to keep the object structures similar and that is working for me atm... e.g.:

[code]
result:
[code]

[2022-02-01 17:16] smammadov1994 opened #219 "How to properly change mongoDB timestamp to proper date?"
I want to go from this:
2022-02-01T16:17:16.233Z

to this:

02/01/2022

How exactly do I parse this data using this library and make sure it appears as needed when excel opens the file?

[2022-02-06 15:03] mrodrig commented on #219
Hi @smammadov1994. Good question. It looks like mongoDB returns values stored as dates in the database as a Date object based on my testing, so you should be able to use the `parseValue` option to specify a custom parser which formats dates values how you would like them to appear.

For example:
[code]

[2022-02-06 15:04] #219 closed

[2022-04-29 22:07] JoaoLucasFurtadoa commented on #207
Tank You guys. Congulations!

[2022-06-18 08:36] gdonoso94 opened #222 "TypeError: Cannot convert undefined or null to object"
## Background Information
- Module Version: `latest`
- Node/Browser Version: `18.1.0`

The issue I'm reporting is with:
- [x] json2csv
- [ ] csv2json

I have...
- [x] searched to see if an issue has already been reported.
- [x] verified that my JSON/CSV data is valid (using something like http://jsonlint.com or https://csvlint.io/).
- [x] tried upgrading to the latest version of json-2-csv (since

[2022-08-27 04:06] whaaaley commented on #207
I just ran into this issue as well. It would be great to have! :D

[2022-10-07 21:19] scovetta opened #224 "Private Vulnerability Disclosure"
Hello!
I've sent a few e-mails to since early August about a vulnerability we found in json-2-csv, but I'm not sure they're getting through. As part of our analysis through the OpenSSF [Alpha-Omega](https://openssf.org/community/alpha-omega) project, we scan and review important open source components, and then offer to work with maintainers on a fix.

We'd like to report this vulnerability privat

[2022-10-10 05:42] mrodrig commented on #224
Hi Michael. Apologies for the delay - I'm not sure why but I never saw your emails in my inbox, however, after searching for your name, I was able to find the emails. I've been looking into the potential issue you described and will follow up by email within the next day since I cannot replicate the unhandled error causing a process crash scenario given it's captured within a promise chain and pas

[2022-10-10 05:42] #224 closed

[2022-10-14 01:34] BlockApeScissors commented on #102
Hey guys, trying to understand if I'm passing the parameter correctly

converter.json2csv(youtube_urls, (err, csv) => {expandArrayObjects: true
        if (err) {
            throw err
        }

        Can someone check it?

[2022-10-14 01:37] svrebelo-eth commented on #102
Hey guys, can someone demonstrate how to apply the option parameter {expandArrayObjects: true} ?

Thanks

[2022-10-14 02:31] mrodrig commented on #102
Hi @svrebelo-eth. Sure, happy to help.

Here's a quick snippet showing the behavior of just the `expandArrayObjects` option:

[code]

This outputs:
[code]

The key thing that this feature enables is the iteration of keys across objects inside array values to provide a deeper conversion of the data.  For reference, if the option was not provided, the output for this case would be:

[code]

One othe

[2022-11-22 03:59] mrodrig commented on #222
Thanks for your patience on this @gdonoso94. I just pushed a patch for this in the underlying `deeks` module that should resolve the issue. I'll be pushing out a new version of `json-2-csv` which updates to the patched version shortly as `3.18.0`. Please let me know if you still run into the issue with that version. Thanks!

[2022-11-22 03:59] #222 closed